<div class="card">
    <div class="card-header">
        Role Management
    </div>
    <div class="card-body">
        <h5 class="card-title">Add User</h5>
        <form [formGroup]="addForm">
            <label name="username">Username</label>
            <input type="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username" formControlName="username">
            <div *ngIf = "username.hasError('minlength')"> Name needs to be longer than 2 letters</div>
            <br/>
          
            <label name = "email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email here" formControlName="email">
    
            <label name = "role">Role</label>
            <select class="form-control" formControlName="role">
                <option>user</option>
                <option>admin</option>
            </select>

            <div class="check">
                <label>Agree to <button class="link" (click) = 'open()'>terms</button> by checking box:</label>
                <input id="confirm" type="checkbox" formControlName= "confirm">
            </div>
            <div *ngIf = "addForm.controls['confirm'].errors" class="alert alert-danger">
                You must agree to the terms before adding a user!
            </div>


            <button type = "button" class= "btn btn-primary" (click)= "onSubmit()" [disabled] = "addForm.controls['confirm'].errors">Add</button>
            <button type = "button" class= "btn btn-primary" (click)= "onCancel()">Cancel</button>
          </form> 
    </div>
    </div>
