select{
    margin-bottom: 20px;
}
.check{
    margin-bottom: 20px;
}

.link{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: #069;
}
.link:hover{
    text-decoration:underline;
}

