<div class="card">
    <h5 class="card-header">Terms</h5>
    <div class="card-body">
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed scelerisque felis. Donec iaculis congue turpis, ut dignissim quam scelerisque eget. Praesent aliquam dolor viverra dapibus consectetur. Morbi aliquam, erat ut malesuada lobortis, metus ante suscipit ante, sed lacinia sem nunc ac dolor. Nullam ultricies sed lectus sed hendrerit. Donec sit amet nisi ut leo elementum iaculis eu vel massa. Mauris leo ipsum, posuere sit amet libero et, iaculis pellentesque magna. Quisque nisl mi, sollicitudin a erat viverra, maximus dictum leo. Morbi laoreet cursus convallis. Nam odio libero, condimentum quis libero id, ullamcorper commodo neque. Curabitur ac fringilla est. Ut vitae placerat ipsum. Vestibulum elementum vulputate lacus, eget laoreet arcu rutrum quis. Integer at lectus vel diam tempor accumsan eget ut mauris. Proin eget mauris interdum, accumsan eros vitae, dignissim felis. In in maximus leo, eget sagittis est.
        </p>
        <p class ="card-text">
            Ut mattis magna purus, sit amet tempor felis commodo euismod. Nullam dignissim odio non facilisis hendrerit. Etiam sit amet eleifend orci. Morbi dictum justo non vestibulum consectetur. Praesent semper sed arcu a blandit. Aliquam consectetur elementum sapien, at lacinia dui tincidunt sit amet. Nam laoreet mattis mi sit amet dignissim. Curabitur tincidunt vulputate justo eu vestibulum. Sed dictum ac odio vel maximus.
        </p>
        <p class="card-text">
            Mauris vitae vestibulum dui. Nam tincidunt elit non vulputate facilisis. Etiam lacinia, velit vitae elementum maximus, lorem tellus porta ipsum, quis tempus lacus elit varius turpis. Nulla non massa vitae erat aliquam ultricies. Curabitur suscipit elit id facilisis malesuada. Nam aliquet nibh vel justo maximus aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam non sapien risus.
        </p> 
        <p>
            Phasellus vestibulum quis nibh eget lacinia. In massa risus, scelerisque in ante et, sollicitudin pretium erat. Aenean sagittis dui eu massa auctor dapibus. Sed in augue nec quam tincidunt efficitur. Ut ultrices placerat orci, at aliquet sem euismod ut. Nunc risus ipsum, rutrum faucibus arcu quis, maximus auctor ipsum. Aenean vitae magna eget elit tincidunt varius. Nam ut quam diam.
        </p>
        <p class = "card-text">
            Nulla lacinia risus eu accumsan commodo. Maecenas a odio nisi. Sed vehicula mattis sapien non sodales. Donec ac diam scelerisque, condimentum nibh a, consequat ex. Integer ac est at tortor molestie aliquam. Curabitur rutrum quam pretium arcu vestibulum, ut imperdiet tellus imperdiet. Sed ut pulvinar quam. Suspendisse gravida dictum leo quis cursus. Praesent et libero lectus. Integer risus enim, convallis eu imperdiet fringilla, sodales non tortor. Aliquam vestibulum metus id tortor consequat, aliquet tempus felis congue. Vivamus eu interdum quam. Vestibulum auctor, dui ac ornare convallis, elit sem pharetra enim, id tincidunt tellus massa fermentum risus. Phasellus facilisis elementum egestas. Mauris sit amet commodo felis. Nulla vel ex vel libero condimentum ullamcorper.
        </p>
      <button class="btn btn-primary" (click) = 'onSubmit()'>OK!</button>
    </div>
  </div>
