.row-striped:nth-of-type(odd){
    background-color: #efefef;
    border-left: 4px #000000 solid;
  }
  
  .row-striped:nth-of-type(even){
    background-color: #ffffff;
    border-left: 4px #efefef solid;
  }
  
  .row-striped {
      padding: 15px 0;
  }
  .mb-0{
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: #069;
  }

  .mb-0:hover{
    text-decoration:underline;
  }