<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">	
	
	<div class="container">
		<div class="row row-striped">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">{{bookedInfo.date | date: 'dd'}}</span></h1>
				<h2>{{bookedInfo.date | date: 'MMM'}}</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>Booking Details:</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> {{bookedInfo.date | date: 'EEE'}}</li>
					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> {{bookedInfo.bookedRoomDetails[1]}} - {{bookedInfo.bookedRoomDetails[2]}}</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{bookedInfo.name}}</li>
				</ul>
				<div class="row">
                    <div class="col-6">
                      <p class="mb-0" (click) = "showUser(bookedInfo.bookedRoomDetails[0])">Booker User Id : {{bookedInfo.bookedRoomDetails[0]}}</p>
                      <p>Participants: {{bookedInfo.numPeople}}</p>
                    </div>
                    <div class="col-6">
                      <a class="btn btn-danger" (click)= "cancelBooking()">Cancel</a>
                    </div>
                  </div>
			</div>
		</div>
	